body{
    padding: 0px;
    margin: 0px;
    background: url('White\ girl.jpg');
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#left{
    display: inline-block;
    /* border: 2px solid red; */
    position: absolute;
    left: 34px;
    top: 0px;
    
}
#left img{
    filter: invert(100%); /* invert function*/
    border-radius: 44px;

}
#mid{
    display: block;
    width: 46%;
    margin: 34px auto;
    /* border: 2px solid rgb(62, 62, 240); */

}
#right{
    display: inline-block;
    /* border: 2px solid rgb(11, 219, 11); */
    position: absolute;
    right: 34px;
    top: 39px;
}
#ulnavbar li{
    display: inline-block;
    font-size: 19px;
}
#ulnavbar li a{
    text-decoration: none;
    color: rgb(206, 203, 203);
    padding: 3px 14px;
    font-size: 22px;
    color: black;
}
#ulnavbar li a:hover, #ulnavbar li a.active{
    text-decoration: underline;
    background-color: rgb(158, 154, 154);
    border-radius: 8px;
}
#right button{
    padding: 4px 11px;
    margin: 0px 5px;
    border: 1px solid rgb(187, 184, 184);
    border-radius: 8px;
    /* border: none; */
    font-size: 15px;
    background-color: #6f6f6f;
    color: black;
}
#right button:hover{
    background-color: rgb(158, 154, 154);
    cursor: pointer;
}
#formid input{
    display: block;
    margin: 8px auto;
    width: 194px;
    border-radius: 8px;
    padding: 8px 23px;
    border: none;
    background-color: #d2d2d2;
}
#formid{
    border: 1px solid rgb(187, 184, 184);
    display: block;
    width: 420px;
    border-radius: 12px;
    margin: 108px 34px;
    padding: 29px 22px;
}
#formid h2{
    color: darkgrey;
    text-align: center;
    margin: 0px;
}
#name{
    text-align: center;
    margin: 0px;
    font-size: 24px;
}
#formid #submit{
    width: 240px;
    background-color: darkgrey;
    color: black;
    
}
#formid #reset{
    /* width: 240px; */
    background-color: darkgrey;
    color: black;
    
}